[package]
name = "ormsgpack"
version = "0.3.4"
authors = ["Aviram Hassan <aviramyhassan@gmail.com>"]
description = "Fast, correct Python msgpack library supporting dataclasses, datetimes, and numpy"
edition = "2018"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/aviramha/ormsgpack"
homepage = "https://github.com/aviramha/ormsgpack"
readme = "README.md"
keywords = ["fast", "msgpack", "dataclass", "dataclasses", "datetime"]
include = [
    "build.rs",
    ".cargo",
    "Cargo.toml",
    "CHANGELOG.md",
    "LICENSE-APACHE",
    "LICENSE-MIT",
    "pyproject.toml",
    "README.md",
    "src/*",
]

[lib]
name = "ormsgpack"
crate-type = ["cdylib"]

[dependencies]
ahash = { version = "0.7", default_features = false }
associative-cache = { version = "1" }
bytecount = { version = "^0.6.2", default_features = false, features = ["generic-simd", "runtime-dispatch-simd"] }
encoding_rs = { version = "0.8", default_features = false }
inlinable_string = { version = "0.1" }
itoa = { version = "0.4", default_features = false }
once_cell = { version = "1", default_features = false }
pyo3 = { version = "^0.14.1", default_features = false, features = ["extension-module"]}
ryu = { version = "1" }
serde = { version = "1", default_features = false }
smallvec = { version = "^1.6", default_features = false, features = ["const_generics", "union", "specialization", "write"] }
rmp = { version = "^0.8.10"}
rmp-serde = {version = "^0.15.4"}

[target.'cfg(any(target_arch = "x86_64", target_arch = "aarch64", target_arch = "i686", target_arch = "armv7"))'.dependencies]
encoding_rs = { version = "0.8", default_features = false, features = ["simd-accel"] }

[build-dependencies]
pyo3-build-config = { version = "^0.14.1" }

[profile.release]
codegen-units = 1
debug = false
incremental = false
lto = "thin"
opt-level = 3
panic = "abort"

[profile.release.build-override]
opt-level = 0
