[package]
name = "ormsgpack"
version = "1.4.1"
authors = [
    "Aviram Hassan <aviramyhassan@gmail.com>",
    "Emanuele Giaquinta <emanuele.giaquinta@gmail.com>",
]
description = "Fast, correct Python msgpack library supporting dataclasses, datetimes, and numpy"
edition = "2018"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/aviramha/ormsgpack"
homepage = "https://github.com/aviramha/ormsgpack"
readme = "README.md"
keywords = ["fast", "msgpack", "dataclass", "dataclasses", "datetime"]
include = [
    "build.rs",
    "Cargo.toml",
    "CHANGELOG.md",
    "LICENSE-APACHE",
    "LICENSE-MIT",
    "pyproject.toml",
    "README.md",
    "src/*",
]

[lib]
name = "ormsgpack"
crate-type = ["cdylib"]

[features]
default = ["unstable-simd"]

# Use SIMD intrinsics. This requires Rust on the nightly channel.
unstable-simd = [
    "bytecount/generic-simd",
    "encoding_rs/simd-accel",
]

[dependencies]
ahash = { version = "0.8", default_features = false }
associative-cache = { version = "2", default_features = false }
bytecount = { version = "^0.6.7", default_features = false, features = ["runtime-dispatch-simd"] }
encoding_rs = { version = "0.8", default_features = false }
itoa = { version = "1", default_features = false }
once_cell = { version = "1", default_features = false, features = ["race"] }
pyo3 = { version = "^0.20.1", default_features = false, features = ["extension-module"] }
rmp = { version = "^0.8.10", default_features = false, features = ["std"] }
rmp-serde = { version = "1", default_features = false }
serde = { version = "1", default_features = false }
serde_bytes = { version = "0.11.14", default_features = false, features = ["std"] }
simdutf8 = { version = "0.1", default_features = false, features = ["std", "aarch64_neon"] }
smallvec = { version = "^1.11", default_features = false, features = ["union", "write"] }

[build-dependencies]
pyo3-build-config = { version = "^0.20.0" }

[profile.release]
codegen-units = 1
debug = false
incremental = false
lto = "thin"
opt-level = 3
panic = "abort"
