name: Lint
on:
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - '.gitignore'
  push:
    branches: [ master ]
# Cancel previous runs on the same PR.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_TOOLCHAIN: nightly-2025-09-18
  UV_VERSION: 0.9.10

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: rustup install --profile minimal "$RUST_TOOLCHAIN"
      - run: rustup default "$RUST_TOOLCHAIN"
      - run: rustup component add clippy rustfmt
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.12
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          version: ${{ env.UV_VERSION }}
      - run: uvx nox -s lint
