name: Lint
on:
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - '.github/dependabot.yml'
      - '.gitignore'
  push:
    branches: [ master ]
# Cancel previous runs on the same PR.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_TOOLCHAIN: nightly-2025-09-18
  UV_VERSION: 0.9.10

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: rustup install --profile minimal "$RUST_TOOLCHAIN"
      - run: rustup default "$RUST_TOOLCHAIN"
      - run: rustup component add clippy rustfmt
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.12
      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          version: ${{ env.UV_VERSION }}
      - run: uvx nox -s lint
