
name: Release
on:
  push:
    tags:
      - '*.*.*'

jobs:
  release_manylinux:
    name: Release manylinux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9']
    container: quay.io/pypa/manylinux2014_x86_64:latest
    env:
      TWINE_PASSWORD: ${{secrets.TWINE_PASSWORD}}
      TWINE_USERNAME: ${{secrets.TWINE_USERNAME}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install -U pip wheel twine maturin
      - run: pip install -r requirements.txt
      - run: maturin build --no-sdist --release --strip --manylinux on -i $pythonLocation/python --target x86_64-unknown-linux-gnu
      - run: pip install ormsgpack -f target/wheels
      - run: pytest
      - run: twine upload --non-interactive --skip-existing targets/wheels/*
  release_windows:
    name: Release windows
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9']
    env:
      TWINE_PASSWORD: ${{secrets.TWINE_PASSWORD}}
      TWINE_USERNAME: ${{secrets.TWINE_USERNAME}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install -U pip wheel twine maturin
      - run: pip install -r requirements.txt
      - run: maturin build --no-sdist --release --strip -i $pythonLocation/python
      - run: pip install ormsgpack -f target/wheels
      - run: pytest
      - run: twine upload --non-interactive --skip-existing targets/wheels/*

  release_macos:
    name: Release macOS
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9']
        os: [macos-10.15, macos-11.0]
    runs-on:  ${{ matrix.os }}
    env:
      TWINE_PASSWORD: ${{secrets.TWINE_PASSWORD}}
      TWINE_USERNAME: ${{secrets.TWINE_USERNAME}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install -U pip wheel twine maturin
      - run: pip install -r requirements.txt
      - run: maturin build --no-sdist --release --strip --manylinux off -i $pythonLocation/python --target x86_64-apple-darwin
      - run: pip install ormsgpack -f target/wheels
      - run: pytest
      - run: twine upload --non-interactive --skip-existing targets/wheels/*